<h3>Hello this is the Homeshow page buyer/show</h3>


    <div id=''><%= @current_buyer.Firstname %>.</div> 
	<div id=''><%= @current_buyer.Lastname %>.</div>
	<div id=''><%= @current_buyer.Location %>.</div>
	<div id=''><%= @current_buyer.email %>.</div>
	<div id=''>Email me anytime at <%= @current_buyer.email %>.</div>
</div> 